In [ ]:
# 4칙연산이 가능한 계산기 클래스 작성
# 클래스명은 MyCalc
# 변수는 num1, num2

In [ ]:
class Car():
  class_count = 0  # 클래스 변수
  def __init__(self):
    self.instance_count = 0  # 인스턴스 변수

c1 = Car()
c2 = Car()

Car.class_count = 100   # 클래스 변수 설정

print(c1.class_count, c1.instance_count)
print(c2.class_count, c2.instance_count)

100 0
100 0

In [ ]:
c1.class_count = 50   # 객체 변수 설정

print(c1.class_count, c1.instance_count)
print(c2.class_count, c2.instance_count)

In [ ]:
class Student():
  students = {}  # 클래스변수
  def __init__(self,id,kor,eng,math):
    self.id = id
    self.kor = kor
    self.eng = eng
    self.math = math
    Student.students[self.id] = self

  @classmethod
  def findStudent(cls,id):
    return cls.students[id]

  def printStudentInfo(self):
    total = self.kor+self.eng+self.math
    avg = total / 3
    print(f"번호\t국어\t영어\t수학\t합계\t평균")
    print(f"{self.id}\t{self.kor}\t{self.eng}\t{self.math}\t{total}\t{round(avg,2)}")

In [ ]:
s1 = Student("20240001",90,90,90)
s2 = Student("20240002",80,80,80)
s3 = Student("20240003",70,70,70)
Student.findStudent('20240002').printStudentInfo()

번호	국어	영어	수학	합계	평균
20240002	80	80	80	240	80.0

In [3]:
# Person 클래스
# 나이와 이름을 인스턴스변수로
# 인스턴스 메소드 : 적절하게 이름과 나이를 출력
class Person():
  def __init__(self, name, age):
    self.name = name
    self.age = age

  # __str__ : 객체 자체를 호출했을 때 출력
  def __str__(self):
    return f"이름은 {self.name}, 나이는 {self.age}"

p1 = Person(name = "홍길동",age = 20)
print(p1)

이름은 홍길동, 나이는 20

In [4]:
# 같은 클래스 다른 함
class Person():
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def personInfo(self):
    print(f"이름은{self.name}, 나이는{self.age}")

p1 = Person("yoon",14)
p1.personInfo()

p1 = Person(age = 14, name = "yoon") # 변수명과 함께 작성하면 순서가 달라져도 됨
p1.personInfo()

이름은yoon, 나이는14
이름은yoon, 나이는14

In [8]:
# 구구단 클래스
# gugudan()  매개변수를 주지 않으면 2~9단 전부출력
# gugudan(2)  매개변수를 주면 특정 단만 출력
# 클래스 내부에서만 사용하는 메소드 만들기  private 속성이라고 함 <-> public속성

class GuguDan():
  def __init__(self) -> None:
    pass
  # 메소드 이름 앞에 _를 붙이면 클래스 안에서만 사용 가능
  @staticmethod
  def gugudan(dan=None,vertical=True):
    def _Dan(self,dan):
      for i in range(1,10):
        print(f"{dan} x {i} = {dan*i}")
    if dan==None:  # 전체 출력
      if vertical:
        for dan in range(2,10):
          _Dan(dan)
          print()
      else:
        for i in range(1,10):
          for t in range(2,10):
            print(f"{t} x {i} = {t*i}", end="\t")
          print()
    else:
      if vertical:
        _Dan(dan)
      else:
        for i in range(1,10):
          print(f"{dan} x {i} = {dan*i}", end="\t")

g1 = GuguDan()
g1.gugudan(vertical = False)

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81